{% extends "base.html" %} {% block content %}
<table id="data" class="table table-striped" style="width: 100%">
  <thead>
    <tr>
      <th>Language</th>
      <th>Class</th>
      <th>Term</th>
      <th>Definition</th>
      <th>Similar Terms</th>
      <th>Context/Example</th>
      <th>Ambiguity</th>
      <th>Twitter Examples</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
    <tr>
      <td class="shrink">{{ entry['Language'] }}</td>
      <td class="shrink">{{ entry['Class'] }}</td>
      <td class="shrink">{{ entry['Term'] }}</td>
      <td class="expand">{{ entry['Definition'] }}</td>
      <td class="shrink">{{ entry['Similar_Terms'] }}</td>
      <td class="expand">{{ entry['Context/Example'] }}</td>
      <td class="shrink">{{ entry['Ambiguity'] }}</td>
      <td>blah blah</td>
      <!-- <td class="shrink">
        <a href="{{ entry['Twitter Examples Path'] }}">Download CSV</a>
      </td> -->
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %} {% block scripts %}
<script>
  $(document).ready(function () {
    $("#data").DataTable({
      ajax: "/api/data",
      columns: [
        { data: "Language", orderable: false },
        { data: "Class", orderable: false },
        { data: "Term", orderable: false },
        { data: "Definition", orderable: false, searchable: false },
        { data: "Similar_Terms", orderable: false, searchable: false },
        { data: "Context/Example", orderable: false, searchable: false },
        { data: "Ambiguity", orderable: false, searchable: false },
        {
          data: "Twitter Examples Path",
          orderable: false,
          searchable: false,
          render: function (data, type, row, meta) {
            return (
              '<a href="/download_csv/?file_path=' +
              data +
              '" download>Download</a>'
            );
          },
        },
      ],
    });
  });
</script>
{% endblock %}
